.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(150px, 200px) minmax(400px, 1fr) minmax(50px, 100px);
      grid-template-columns: minmax(150px, 200px) minmax(400px, 1fr) minmax(50px, 100px);
}

@media screen and (max-width: 700px) {
  .header {
    -ms-grid-columns: minmax(100px, 1fr) 1fr 1fr;
        grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
  }
}

.logo img {
  width: 100%;
}

.links {
  padding: 1rem;
}

.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links ul li {
  margin: 0px 5px;
  font-size: medium;
  list-style: none;
}

@media screen and (max-width: 700px) {
  .links {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.toggleBtn {
  position: absolute;
  right: 0px;
}

@media screen and (min-width: 700px) {
  .toggleBtn {
    display: none;
  }
}

.pic-content {
  height: 400px;
  width: 100%;
  background-image: url("https://i.ibb.co/zGSDGCL/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.pic-detail {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.pic-title {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  margin: 10px;
}

button {
  margin: 20px;
  padding: 15px;
  color: white;
  background-color: black;
  font-weight: 600;
}

.left-content {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.left-detail {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.left-title {
  font-size: 2rem;
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .left-description {
    display: none;
  }
}

.card-container {
  margin: 10px 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(125px, 400px))[4];
      grid-template-columns: repeat(4, minmax(125px, 400px));
  grid-gap: 2px;
}

@media screen and (max-width: 628px) {
  .card-container {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.card-box {
  height: 100%;
  width: 100%;
}

.card-image {
  width: 100%;
}

.card-image img {
  width: 100%;
}

.card-title {
  font-size: large;
  font-weight: 700;
}

a {
  color: steelblue;
  font-weight: 600;
  font-size: larger;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: auto;
}

span {
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

span:first-child {
  margin: 3px;
}
/*# sourceMappingURL=main.css.map */