.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(150px, 200px) minmax(400px, 1fr) minmax(
      50px,
      100px
    );
  @media screen and (max-width: 700px) {
    grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
  }
}
.logo {
  img {
    width: 100%;
  }
}
.links {
  padding: 1rem;
  ul {
    display: flex;
    li {
      margin: 0px 5px;
      font-size: medium;
      list-style: none;
    }
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;

  padding: 1rem;
}
.toggleBtn {
  position: absolute;
  right: 0px;
  @media screen and (min-width: 700px) {
    display: none;
  }
}
