.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-box {
  height: max-content;
  width: 100%;
  border: 2px solid red;
}
.card-image {
  height: 200px;
  width: 100%;
}
